.EcoSystemEvaluation{
  padding: 5%;

  .card-element{
    height: 100%;
    background-color: #b9dcdb;
    box-shadow: 1px 1px 15px 10px #e0e0d1;
    border: none;
  
    .card-image{
      padding-top: 5%;
      width: 50%;
      margin: auto;

    }
    .card-truc{
      padding: 5%;
      text-align: center;
    }
  }
}