.search{
  
  .background {
    position: relative;
  
    h1{
      position: absolute;
      left: 10%;
      width : 70%;
      top: 10%;
      font-size: 4em;
      color: white;
    }
    .search1{
      position: absolute;
      left: 35%;
      width: 30%;
      top: 60%;
    }
    .search-button{
      position: absolute;
      left: 33%;
      width: 30%;
      top: 70%;
    }
  }
}