.search{
  
  .background {
    position: relative;
    height: 500px;
    h1{
      position: absolute;
      left: 10%;
      width : 70%;
      top: 10%;
      font-size: 4em;
      color: white;
    }
    .search1{
      position: absolute;
      left: 35%;
      width: 30%;
      top: 60%;
    }
    .search-button{
      color: #b9dcdb;
      position: absolute;
      left: 33%;
      width: 30%;
      top: 70%;
    }
    .search1-button{
      color: #b9dcdb;
      position: absolute;
      left: 12%;
      width: 30%;
      top: 80%;
    }
    .search2-button{
      color: #b9dcdb;
      position: absolute;
      left: 55%;
      width: 30%;
      top: 80%;
    }
  }
}