.search{
  
  .background {
    position: relative;
    height: 600px;
    width: 100%;
    background-position: center;
    h1{
      position: absolute;
      text-align: center;
      left: 13%;
      width : 80%;
      top: 10%;
      font-size: 4em;
      color: white;
    }
    .search1{
      position: absolute;
      left: 28%;
      // width: 40%;
      top: 65%;
      border: none;
    }
    .search-button{
      border-radius: 0 5px 5px 0;
      color: #b9dcdb;
      position: absolute;
      left: 53%;
      width: 130px;
      top: 65%;
    }
  }
}