$primaryColor: #197996;
$secondaryColor: #b9dcdb;

html{
  height: 100%;
  box-sizing: border-box;
}
body{
  min-height: 100%;
  position: relative;
  margin: 0;
  padding: 0;
}


.App{
  height: 100%;
  padding-bottom: 8em;
  font-family: 'Montserrat', sans-serif;
}